.promo {
  background-color: #202020;
  margin: 0 auto 0 auto;
  align-self: center;
  max-width: 1280px;
}

.promo__nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.promo__container {
  border-radius: 10px;
  background-color: #272727;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.promo__container_text {
  display: block;
}

.promo__header {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 116%;
  color: #ffffff;
  text-align: left;
  max-width: 700px;
  margin: 160px 0 0 0;
}

.promo__description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: left;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
  max-width: 310px;
  margin: 36px 0 0 70px;
}

.promo__ankhor {
  display: block;
  width: 96px;
  height: 36px;
  border-radius: 10px;
  margin: 160px 0 30px 10px;
  background-color: #303030;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  line-height: 34px;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.4s ease;
}

.promo__ankhor:hover {
  opacity: 0.8;
}

.promo__logo {
  width: 310px;
  height: 304px;
  margin: 75px 70px 0 auto;
}

@media screen and (max-width: 1090px) {
  .promo__container {
    justify-content: center;
  }

  .promo__logo {
    margin: 140px auto 48px auto;
  }
}

@media screen and (max-width: 950px) {
  .promo__container_text {
    display: flex;
    flex-direction: column;
  }

  .promo__header {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    max-width: 680px;
    margin: 160px 0 0 70px;
  }

  .promo__description {
    text-align: center;
    max-width: 260px;
    margin: 22px auto 92px auto;
  }
}

@media screen and (max-width: 768px) {
  .promo__header {
    margin: 350px 0 0 0;
  }

  .promo__ankhor {
    margin: 314px 0 30px 10px;
  }

  .promo__container {
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 550px) {
  .promo__nav {

 gap: 0px;

}
  .promo__header {
    font-size: 29px;
    margin: 160px 0 0 0;
  }
  .promo__logo {
    width: 210px;
    height: 206px;
    margin: 70px auto 44px auto;
  }

  .promo__container_text {
    margin: 0 6px 0 6px;
  }

  .promo__description {
    margin-bottom: 80px;
  }

  .promo__ankhor {
    display: flex;
    width: 82px;
    height: 26px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 190px
  }
}
